# Elm
/elm-stuff/

# NodeJS
/node_modules/

# Activator
/logs/
/target/
/project/project/target
/project/target/
/project/sbt-ui.sbt
/project/play-fork-run.sbt
/RUNNING_PID

# IntelliJ
/.idea/

# Eclipse
/.classpath
/.project
/.settings

# SBT
/.sbtserver
/project/.sbtserver
/project/.sbtserver.lock

# Compiled from elm.
/public/javascripts/MassiveDecks.js
