@(url: String)
<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Massive Decks</title>
       <script src="//cdn.muicss.com/mui-0.2.6/js/mui.min.js"></script>
       <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="//cdn.muicss.com/mui-0.2.6/css/mui.min.css">
       <link rel="stylesheet" href="@routes.Assets.at("stylesheets/massivedecks.css")">
       <script src="@routes.Assets.at("javascripts/massivedecks.js")"></script>
   </head>
   <body>
       <script src="@routes.Assets.at("javascripts/Main.js")"></script>
       <script>
         var gameCode = window.location.hash.substr(1);
         var initialState = {
           url: "@url",
           gameCode: gameCode == "" ? null : gameCode,
           existingGame: null
         };
         var game = Elm.fullscreen(Elm.MassiveDecks.Main, { notifications: "", initialState: initialState });
         game.ports.initialState.send(initialState)
         function openWebSocket(lobbyId, secret) {
           var loc = window.location, new_uri;
           if (loc.protocol === "https:") {
             new_uri = "wss:";
           } else {
             new_uri = "ws:";
           }
           new_uri += "//" + loc.host;
           new_uri += loc.pathname + "lobbies/" + lobbyId + "/notifications";
           var socket = new WebSocket(new_uri);
           socket.onopen = function (event) {
             socket.send(JSON.stringify(secret));
           }
           socket.onmessage = function (event) {
             game.ports.notifications.send(event.data);
           }
           socket.onclose = function (event) {
             openWebSocket(lobbyId, secret);
           }
         }

         game.ports.jsAction.subscribe(function (lobbyIdAndSecret) {
           if (lobbyIdAndSecret != null) {
             openWebSocket(lobbyIdAndSecret.lobbyId, lobbyIdAndSecret.secret);
           }
         });
       </script>
   </body>
</html>
