@use "../_colors";
@use "../cards/_size";

#history {
  h2 {
    text-align: center;
    font-size: 2em;
    margin: 1em 3em;
    word-break: break-word;
  }

  .historic-rounds {
    list-style: none;
    padding: 0;
    counter-reset: historic-round-number;

    .historic-round:nth-child(even) {
      background-color: transparentize(colors.$primary-light, 0.6);
    }
    .historic-round:nth-child(odd) {
      background-color: transparentize(colors.$secondary-light, 0.6);
    }
  }

  .historic-round {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    counter-increment: historic-round-number -1;
    padding: 1em 0 0.5em 0;

    .cards {
      margin-top: 0;
    }

    &::before {
      display: flex;
      flex-direction: column;
      justify-content: center;
      content: counter(historic-round-number);
      align-items: center;
      font-size: 3em;
      padding: 0 0.2em;
      font-weight: bold;
    }

    .spacer {
      margin: 0.5em;
    }

    .plays {
      justify-content: center;
    }
  }
}
