@use "../cards/_size";
@use "../_colors";
@use "../_cards";

.playing {
  .slot.filled {
    cursor: pointer;
  }
}

// A hand of cards.
.hand {
  margin-top: 0.5em;

  position: relative;

  z-index: 1;

  .game-card {
    @include cards.shadow(colors.$primary);
    cursor: pointer;
  }

  &.not-playing {
    pointer-events: none;

    .game-card {
      @include cards.shadow();
    }

    .game-card .aspect::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 0.75em;
      background-color: #000000;
      opacity: 0.2;
    }
  }
}

// Unknown plays for the round animated in at the top of the screen during the playing stage.
.background-plays {
  --card-aspect-ratio: #{size.$card-ratio};

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  overflow: hidden;

  pointer-events: none;

  .play {
    position: relative;
    transform: translateY(size.$card-width * -4);
    transition: transform 500ms ease-in;
    width: 0;
    display: flex;
    justify-content: center;

    .game-card {
      transform: rotate(0);
      transition: transform 500ms ease-in;
      transform-origin: center;

      position: absolute;
    }

    &.played {
      transform: translateY(0);
      transition: transform 500ms ease-out;

      .game-card {
        transform: rotate(var(--rotation, 0));
        transition: transform 500ms ease-out;
      }
    }
  }
}
