@import "../colors";

.liked {
  .side::after {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 8em;
    height: 8em;
    transform: rotate(-0.125turn);

    display: block;
    content: "";
    opacity: 0.3;
    //noinspection CssInvalidFunction
    background: inline-svg(
      "./assets/images/certificate-thumbs-up.svg",
      (
        path: (
          fill: $primary
        )
      )
    );
  }
}
