// A play with the user's name.
.with-byline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
}

// The user's name.
.byline {
  font-size: 2em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;

  > * {
    margin: 0 0.25em 0 0.25em;
  }
}
