.cardcast-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: inherit;
  vertical-align: -0.125em;
  background-image: url(../../assets/images/cardcast.png);
  background-size: contain;
  margin-right: 0.5em;
}
