$call-color: #ffffff;
$call-background: #000000;

$response-color: $call-background;
$response-background: $call-color;

$card-width: 18em;
$card-margin: 0.5em;
$card-overlap: 4em;

$card-ratio: 5/7;
$card-compact-ratio: 1;

@mixin pad-to-aspect-ratio($ratio) {
  padding-top: #{calc(1 / #{$ratio} * 100%)};
}

@function height($width, $ratio) {
  @return calc(#{$width} * 1 / #{$ratio});
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  font-size: $min-font-size;
  @media screen and (min-width: $min-vw) {
    font-size: calc(
      #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
        ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
    );
  }
  @media screen and (min-width: $max-vw) {
    font-size: $max-font-size;
  }
}
