@use "../_colors";
@use "../_cards";
@use "../cards/_size";

#loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  font-size: 5em;
}

#spectate {
  --card-aspect-ratio: #{size.$card-ratio};

  font-size: 1vmin;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  .action {
    position: fixed;
    bottom: 1em;
    right: 1rem;

    z-index: 999;
  }

  #players {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    height: 100%;

    &ol {
      counter-reset: player;

      .player {
        counter-increment: player;

        &::before {
          content: counter(player) ". ";
        }
      }
    }

    .player {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1em;

      .head {
        font-size: 5em;
      }
      .name {
        font-size: 4em;
      }
    }
  }

  #spectators {
    .count {
      font-size: 3em;
    }
  }

  #call-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #plays {
    position: absolute;
    left: 50%;
    top: 50%;
    list-style: none;
    padding: 0;

    > li {
      position: absolute;
      height: 40em;
      width: 40em;
      margin-left: -20em;
      margin-top: -20em;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-property: left, top;
      transition-duration: 0.5s;
    }

    .play {
      position: relative;
    }

    .response {
      transition-property: transform;
      transition-duration: 0.5s;

      &:not(:first-child) {
        position: absolute;
      }
    }
  }
}

.join-info {
  position: fixed;
  right: 0;
  top: 0;
  margin: 1em;
  font-size: 2.5vmin;
  z-index: 999;

  opacity: 0.9;
  font-weight: bold;

  p {
    margin: 0.2em;
    text-align: center;
  }

  .game-code {
    font-size: 1.5em;
    background-color: colors.$primary-dark;
    color: colors.$on-primary-dark;
  }
}

.qr-code {
  position: fixed;
  left: 0;
  bottom: 0;

  opacity: 0.7;
  margin: 1em;

  width: 20vmin;
  height: 20vmin;

  z-index: 999;

  svg {
    width: 100%;
    height: 100%;
  }
}

#spectate-actions {
  position: fixed;
  left: 0;
  top: 0;
  margin: 1em;
  display: flex;
  z-index: 999;
}
