@use "./start/_lobby-browser";
@use "../cards/_size";
@use "../_colors";

.start {
  font-size: clamp(0.5rem, 3vw, 1rem);
  --card-aspect-ratio: #{size.$card-ratio};
  padding: 0.5em 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: 80em;
  margin: 0 auto;

  &.page {
    padding: 0;
  }

  #overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: transparentize(#cccccc, 0.3);
    font-size: 2em;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 4em 0 0 2em;

    h1,
    .subtitle {
      flex-basis: size.$card-width;
      font-size: 1em;
    }

    .card-slicer {
      height: 6em;
    }

    .game-card {
      margin: 0 0 0 auto;
      transition: transform 1s;
      transform: rotateZ(-4deg) translateY(-2em);

      &:hover {
        transform: rotateZ(-2deg) translateY(-3em);
      }
    }

    .subtitle {
      .game-card {
        margin: 0 auto 0 0;
        transform: rotateZ(4deg) translateY(0.5em) translateX(-2em);

        &:hover {
          transform: rotateZ(5deg) translateY(-1em) translateX(-1.5em);
        }
      }
    }
  }

  .start-tab {
    margin: 0.5em auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex-basis: 30em;

    padding: 0 2em 0 2em;
    margin: 2em;

    border-left: 0.1em solid colors.$secondary-background;
    border-right: 0.1em solid colors.$secondary-background;

    h2 {
      margin: 0;
    }

    mwc-button {
      align-self: flex-end;
    }
  }

  .restrict {
    align-self: center;
    max-width: 25em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .example-card {
    float: right;
    width: size.$card-width;
    margin: 0.5em;
    font-size: 0.7em;
    color: #666677;
    hyphens: none;

    figcaption {
      display: block;
      width: 100%;
      padding: 0.5em;
    }
  }

  .rule-list {
    margin: 0.5em;

    h3 {
      margin-bottom: 0.3em;
    }

    p {
      margin-top: 0.3em;
      margin-left: 0.5em;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;

    .logos {
      display: flex;
    }

    .logo {
      display: block;
      margin: 0.5em;
      padding: 1em;

      img,
      svg {
        width: 3em;
        height: 3em;
      }
    }

    .version {
      opacity: 0.3;
    }
  }

  .rejoin ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}

#many-decks-ad div {
  position: fixed;
  left: -0.8em;
  top: -3em;

  z-index: 11;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

  width: 7em;
  height: 7em;
  border-radius: 100%;

  transition: left 0.25s, top 0.25s;

  transform: rotate(-15deg);

  font-size: 1.2em;
  background-color: colors.$many-decks;
  color: #ffffff;

  > * {
    margin-bottom: 0.5em;
  }

  &:hover {
    left: -0.7em;
    top: -2.5em;
  }
}
