@import "../colors";
@import "../card/variables";
@import "../game";
@import "./lobby/configure";
@import "./lobby/invite";
@import "./lobby/variables";
@import "~weightless/style/base/elevation";

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
}

#lobby {
}

#top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;

  height: $top-bar-height;
  padding: 0 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  color: $call-color;
  background-color: $call-background;

  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

#lobby-content {
  position: absolute;
  left: 0;
  top: $top-bar-height;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  min-width: fit-content;
}

#scroll-frame {
  position: absolute;
  top: 0;
  left: $users-width;
  right: 0;
  bottom: 0;
  overflow: auto;
  transition: left 0.3s;
}

.collapsed-users #scroll-frame {
  left: 0;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#users {
  font-size: 1rem;
  overflow: auto;

  z-index: 2;

  border-radius: 0;

  padding: 0;

  min-height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $users-width;

  transition: width 0.3s;

  --list-item-padding: 0.5em;
  --list-item-left-margin: 0.5em;

  .collapsible {
    padding: 1em;
  }

  .user {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-top: 0.5em;
  }

  .away {
    opacity: 0.5;
  }

  .left {
    opacity: 0.3;
  }
}

@media screen and (max-width: $users-width * 2) {
  #scroll-frame {
    left: 100vw;
  }

  #users {
    width: 100vw;
  }
}

.collapsed-users #users {
  width: 0;
}

.cast-button {
  &.connecting {
    animation: fadeIn 1s infinite alternate;
  }

  &.connected {
    color: $secondary;
  }
}

.you {
  font-weight: bold;
}

.notifications {
  position: fixed;
  left: 0;
  bottom: 0;
  list-style: none;
  z-index: 100;
}

.notification {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 1em;
  padding: 0;
  transform: translateY(100%);

  --card-bg: #{$call-background};
  --card-color: #{$call-color};

  &.entering {
    transform: translateY(0%);
  }

  .content {
    display: flex;
    align-items: center;
    padding: 0.05em;

    .icon {
      margin: 0 0.5em 0 1em;
    }

    .action {
      margin-left: 0.5em;
    }
  }
}

.menu {
  --list-item-border-radius: 0;
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    wl-list-item {
      width: 100%;
    }
  }
}
