@import "variables.less";

#start-screen {
  width: 100%;
}

#start-screen-content {
  max-width: 300px;
  margin: 15px auto;

  h1 {
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  button {
    width: 100%;
    margin: 15px auto 0px auto;
  }

  .mui-textfield {
    width: 100%;
    margin: 10px auto 0px auto;
  }

  & > .mui-divider {
    width: 200px;
  }
}

.nickname-entry {
  margin-bottom: 0px;
}
