<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Massive Decks</title>
    <meta name="description" content="A comedy party game." />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="icon"
      type="image/svg+xml"
      href="<%= require('../../assets/images/icon.svg') %>"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= require('../../assets/images/icon.png') %>"
    />
    <meta name="theme-color" content="#2196F3" />
  </head>
  <body>
    <noscript>
      <p>Massive Decks requires javascript to run.</p>
    </noscript>
    <script
      src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"
      defer
    ></script>
  </body>
</html>
