@import "variables.less";
@start-width: 300px;
@degrade-fork-banner: (@start-width + 100px);

#start-screen {
  width: 100%;
}

#start-screen-content {
  max-width: @start-width;
  margin: 15px auto;

  h1 {
    width: 100%;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
  }

  button {
    width: 100%;
    margin: 15px auto 0px auto;
  }

  .rejoin {
    text-align: center;
    padding: 0px 0px 10px 0px;

    ul {
      display: inline;
      list-style: none;
      padding: 0px;

      li {
        display: inline;

        &:not(:last-of-type)::after {
          content: ", "
        }

        &:nth-last-of-type(2)::after {
          content: " or "
        }
      }
    }
  }

  .mui-textfield {
    width: 90%;
    margin: 10px auto 0px auto;
  }

  & > .mui-divider {
    width: 200px;
  }

  .about-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
  }
}

.nickname-entry {
  margin-bottom: 0px;
}

footer {
  max-width: @start-width;
  margin: 30px auto;
  padding: 10px;

  text-align: center;
  font-size: 0.8em;

  img {
    height: 50px;
    margin: 0px 0px 10px 0px;
  }

  p:last-child {
    margin: 0px;
  }
}
