@(url: String)<!doctype html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="mobile-web-app-capable" content="yes">
       <title>Massive Decks</title>
       <script src="//cdn.muicss.com/mui-0.5.8/js/mui.min.js"></script>
       <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
       <link rel="stylesheet" href="//cdn.muicss.com/mui-0.5.8/css/mui.min.css">
       <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/massivedecks.css")">
       <script src="@routes.Assets.versioned("javascripts/util.js")"></script>
       <script src="@routes.Assets.versioned("javascripts/lib/qrcode.min.js")"></script>
       <link rel="shortcut icon" sizes="192x192" type="image/x-icon" href="@routes.Assets.versioned("images/icon.png")">
       <link rel="canonical" href="@url/">
       <link rel="manifest" href="@routes.Assets.versioned("manifest.json")">
   </head>
   <body>
       <script src="@routes.Assets.versioned("javascripts/MassiveDecks.js")"></script>
       <script>
          start("@url");
       </script>
   </body>
</html>
