@(url: String, version: String, statusCode: Int, errorMessage: String, errorDescription: String, bugReportBody: String)<!doctype html>
<html lang="en">
    <head>
        @head(s"$errorMessage - Massive Decks", url)
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/error.css")">
    </head>
    <body>
        <div id="cards">
            <div class="card call mui-panel">
                <div class="call-text">
                    <span>@url</span>
                    <span class="slot"></span>
                </div>
            </div>
            <ol>
                <li>
                   <div id="status-card" class="card response mui-panel">
                        <div class="response-text">
                            <span>@statusCode.</span>
                        </div>
                    </div>
                </li>
                <li>
                   <div id="message-card" class="card response mui-panel">
                        <div class="response-text">
                            <span>@errorMessage.</span>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div id="advice" class="mui-panel">
            <h1>@errorMessage</h1>
            <p>
                Unfortunately, @errorDescription. You probably want to go back to the <a href="@url">main page</a>.
            </p>
            <p>
                If you think this is a bug in Massive Decks, please
                <a href="https://github.com/Lattyware/massivedecks/issues/new?body=@bugReportBody">submit a bug report</a>.
            </p>
        </div>
        <a id="logo" href="@url"><img src="@routes.Assets.versioned("images/icon.svg")" alt="The Massive Decks logo." title="Massive Decks" "></a>
        @if(version.nonEmpty) {
            <p id="version">Version @version</p>
        }
    </body>
</html>
