@(url: String, version: String)<!doctype html>
<html lang="en">
    <head>
        @head("Massive Decks", url)

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

        <script src="@routes.Assets.versioned("javascripts/qrcode.min.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/massivedecks.css")">
        <script src="@routes.Assets.versioned("javascripts/util.js")"></script>
    </head>
    <body>
        <script src="@routes.Assets.versioned("javascripts/MassiveDecks.js")"></script>
        <script>
          start("@url", "@version");
        </script>
    </body>
</html>
