$card-width: 18em;
$card-margin: 0.5em;
$card-overlap: 4em;

$card-ratio: 5/7;
$card-compact-ratio: 1;

@mixin pad-to-aspect-ratio($ratio) {
  padding-top: #{calc(1 / #{$ratio} * 100%)};
}

@function height($width, $ratio) {
  @return calc(#{$width} * 1 / #{$ratio});
}

.minimal-card-size #game {
  --card-aspect-ratio: 0;

  ul.cards {
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
  }

  ol.card-set {
    align-items: stretch;
    align-content: stretch;

    li {
      height: auto;
      flex-grow: 1;
    }
  }

  .with-byline {
    align-items: stretch;
    align-content: stretch;
  }

  .game-card:not(.ignore-minimal-card-size) {
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;

    .content {
      p {
        justify-content: center;
        text-align: center;
      }
    }

    .card-info {
      display: none;
    }

    .aspect {
      position: static;
      height: auto;
      width: auto;
      padding: 0;

      transition: none;

      & > * {
        position: static;
        width: auto;
        height: auto;
      }
    }

    .side.back {
      display: none;

      .content {
        text-align: center;

        p {
          display: none;
        }

        &::after {
          content: "?";
        }
      }
    }

    &.face-down {
      .side {
        &.back {
          display: block;
        }

        &.front {
          display: none;
        }
      }
    }
  }

  .hand,
  .plays {
    margin-top: 5em;
  }

  .round {
    justify-content: stretch;
    align-items: stretch;
    position: sticky;
    top: 5em;
  }

  .liked {
    .side::after {
      right: 1em;
      top: 50%;
      margin-top: -1.5em;
      width: 3em;
      height: 3em;
    }
  }
}

.square-card-size #game {
  --card-aspect-ratio: #{$card-compact-ratio};
}
