// If the duration is changed, sync to Animated.elm

.animation {
  transition: transform 200ms ease-in, opacity 200ms ease-in;
  opacity: 0;
}

.animation.entering {
  opacity: 1;
}

.animation.exiting {
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}
