/// Single source of truth for colours in the application.

$primary: #42a5f5;
$on-primary: #212121;
$primary-light: #80d6ff;
$on-primary-light: #212121;
$primary-dark: #0077c2;
$on-primary-dark: #f5f5f5;

$secondary: #ff6122;
$on-secondary: #212121;
$secondary-light: #ff8a50;
$on-secondary-light: #212121;
$secondary-dark: #c41c00;
$on-secondary-dark: #f5f5f5;

$error: $secondary-dark;
$on-error: $on-secondary-dark;

$background: #e2e2e2;

$secondary-background: #cccccc;

$transparent: rgba(#ffffff, 0);

$card: #ffffff;

$many-decks: #00796b;
