$general: "Roboto", sans-serif;
$card: "Helvetica Neue", "Nimbus Sans L", sans-serif;
$game-code: "Source Code Pro", monospace;

@font-face {
  font-family: "Nimbus Sans L";
  font-style: normal;
  font-weight: 400;
  src: local("Nimbus Sans L"), local("NimbusSansL"),
    url("../../assets/fonts/nimbus-sans-l-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L";
  font-style: normal;
  font-weight: 700;
  src: local("Nimbus Sans L Bold"), local("NimbusSansL-Bold"),
    url("../../assets/fonts/nimbus-sans-l-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"),
    url("../../assets/fonts/source-code-pro-v8-latin-regular.woff2")
      format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../../assets/fonts/roboto-v18-latin-regular.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("../../assets/fonts/roboto-v18-latin-italic.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../../assets/fonts/roboto-v18-latin-700.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url("../../assets/fonts/roboto-v18-latin-700italic.woff2") format("woff2");
  font-display: fallback;
}
