@import "./card/variables";
@import "./colors";
@import "./fonts";
@import "./card/sources";
@import "./card/size";

#game {
  --card-aspect-ratio: #{$card-ratio};
  @include fluid-type(20rem, 64rem, 0.5rem, 0.8rem);
}

.game-card {
  width: $card-width;
  margin: $card-margin;
  perspective: 100vw;

  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", "Nimbus Sans L", sans-serif;
  font-weight: bold;

  p {
    margin: 0;
  }

  &.response {
    --bg: #{$response-background};
    --fg: #{$response-color};
  }

  &.call {
    --bg: #{$call-background};
    --fg: #{$call-color};

    p {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      align-content: flex-start;
      justify-content: flex-start;

      span, em, strong {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      .slot {
        display: contents;

        span, em, strong {
          text-decoration: underline;
        }

        &:empty {
          display: block;
          height: 1em;
          flex-grow: 1;
          flex-basis: 2em;
          max-width: 14em;
          border-bottom: 0.1em solid var(--fg);
        }
      }
    }
  }

  // Creates a fixed size from an aspect ratio.
  .aspect {
    transition: transform 0.75s;
    transform-style: preserve-3d;
    position: relative;
    height: 0;
    width: 100%;
    @include pad-to-aspect-ratio(var(--card-aspect-ratio));

    & .side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.face-down .aspect {
    transform: rotateY(180deg);
  }

  .side {
    box-sizing: border-box;
    background: var(--bg);
    color: var(--fg);
    border-radius: 0.75em;
    border: 0.3em solid var(--bg);
    box-shadow: 0.15em 0.15em 0.4em rgba(0, 0, 0, 0.3),
      -0.05em -0.05em 0.4em rgba(0, 0, 0, 0.3);
    padding: 1em;
    backface-visibility: hidden;
    transform: rotateX(0deg);

    &.back {
      transform: rotateY(180deg);

      .content p {
        line-height: 1em;
        font-size: 2em;
      }
    }

    &.front {
      display: flex;
      flex-flow: column nowrap;

      .content {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    p {
      color: var(--fg);
    }
  }

  .content {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.4em;
  }

  // For custom cards.
  textarea {
    display: block;
    vertical-align: top;
    font: inherit;
    background-color: inherit;
    resize: none;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 0.5em;

    .source {
      font-size: 1.2em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:before {
        content: "";
        background-image: url(../../assets/images/deck.svg);
        background-size: 100% 100%;
        display: inline-block;
        width: 2.8em;
        height: 2em;
      }
    }

    .instructions {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;

      li {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin-top: 0.2em;
        font-size: 1.4em;
      }
    }
  }
}
