@import "./colors";

.error-overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparentize($secondary-background, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  padding: 3em;

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .help {
    margin-bottom: 0.5em;
  }

  .errors {
    overflow-y: auto;
  }
}

.error {
  --expansion-color: #{$on-error};
  --expansion-header-description-color: #{$on-error};
  --expansion-bg: #{$error};

  padding: 0.25em;

  .report {
    .body {
      margin: 0 1em;
      --input-color: #{$on-error};
    }

    .link {
      margin-top: 1em;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
