@import "./card/variables";
@import "./colors";
@import "~weightless/style/base/elevation";
@import "./game/judging";
@import "./game/playing";
@import "./game/plays";
@import "./game/history";
@import "./pages/lobby/variables";

// The main game area.
#game {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-height: 100%;

  // A button that allows the user to perform the main action in the game for them at this moment.
  .action {
    position: fixed;
    bottom: 1em;
    right: 1rem;

    z-index: 100;

    --button-fab-size: 4rem;
    font-size: 1.5rem;

    // A style for actions that the game is waiting on - high contrast to grab attention.
    &.important {
      --button-bg: #{$secondary};
      --button-color: #{$on-secondary};
      --button-bg-hover: #{$secondary-light};
      --button-color-hover: #{$on-secondary-light};
      --button-bg-active: #{$secondary-dark};
      --button-color-acitve: #{$on-secondary-dark};
    }
  }
}

#top-content {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  --progress-bar-bg: #{$error};
  font-size: 5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 0;
  overflow: visible;

  #timer {
    flex-shrink: 0;
    height: 0.2em;
  }

  #time-left {
    margin: 1rem;
  }

  .top-row {
    margin-top: -0.2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

#minor-actions {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  #context-help {
    flex-grow: 0;
    --card-padding: 0.5em;
    font-size: 1.2rem;

    wl-popover-card {
      min-width: 10em;
    }
  }

  wl-button {
    font-size: 1.2rem;
    margin: 0;
  }
}

// The button to scroll to the top of the game area.
.scroll-top {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  wl-button {
    pointer-events: all;
    position: sticky;
    bottom: 0.5em;
    margin: 0.5em;
    z-index: 1;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

// This pushes the scroll-top button down below the page content.
.scroll-top-spacer {
  flex-grow: 1;
  flex-basis: 0;
}

// Where the call for the round is displayed.
.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

// A play or card that has been picked by the player as the target of some action.
.game-card,
ol.card-set {
  &.picked {
    .side {
      border-color: $primary;
    }
  }
}

// Display some number of cards or card sets together.
ul.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin-top: 0.5em;

  li {
    min-width: $card-width;
  }
}

// Multiple cards that are grouped together.
ol.card-set {
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  li {
    height: $card-overlap;
    overflow: visible;

    &:hover {
      z-index: 1;
    }

    &:last-child {
      height: height($card-width, var(--card-aspect-ratio));
    }
  }
}

#game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparentize(#cccccc, 0.3);
  font-size: 4em;
  text-align: center;
  z-index: 3;
}
