@import "./card/variables";
@import "./colors";
@import "~weightless/style/base/elevation";
@import "./game/judging";
@import "./game/playing";
@import "./game/plays";
@import "./pages/lobby/variables";

// The main game area.
#game {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  // A button that allows the user to perform the main action in the game for them at this moment.
  .action {
    position: fixed;
    // TODO: Remove Hack (here because the debugger covers it up).
    bottom: 5rem;
    //bottom: 1em;
    right: 1rem;

    z-index: 100;

    --button-fab-size: 4rem;
    font-size: 1.5rem;

    // A style for actions that the game is waiting on - high contrast to grab attention.
    &.important {
      --button-bg: #{$secondary};
      --button-color: #{$on-secondary};
      --button-bg-hover: #{$secondary-light};
      --button-color-hover: #{$on-secondary-light};
      --button-bg-active: #{$secondary-dark};
      --button-color-acitve: #{$on-secondary-dark};
    }
  }
}

// Contextual help for the player telling them what they need to do at this point in the game.
#context-help {
  font-size: 1.2rem;
  position: fixed;
  top: $top-bar-height;
  right: 0;
  z-index: 1;
  --card-padding: 0.5em;

  #context-help-button {
    font-size: 1.4rem;
  }

  wl-popover-card {
    min-width: 10em;
  }
}

// The button to scroll to the top of the game area.
.scroll-top {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  wl-button {
    pointer-events: all;
    position: sticky;
    bottom: 0.5em;
    margin: 0.5em;
    z-index: 1;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

// This pushes the scroll-top button down below the page content.
.scroll-top-spacer {
  height: 6em;
}

// Where the call for the round is displayed.
.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: $card-width;
  padding: 1em 0;
}

// A play or card that has been picked by the player as the target of some action.
.game-card,
ol.card-set {
  &.picked {
    .side {
      border-color: $primary;
    }
  }
}

// Display some number of cards or card sets together.
ul.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin-top: 0.5em;
}

// Multiple cards that are grouped together.
ol.card-set {
  margin: 0.5em;
  display: flex;
  list-style: none;
  padding: 0;
}
