@import "./colors";
@import "./card/variables";
@import "./fonts";
@import "./animation.scss";
@import "./variables.scss";

.no-wrap {
  white-space: nowrap;
}

body {
  color: $on-primary;
  background: $background url(../../assets/images/background.svg) repeat;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  min-width: $min-page-width;
}

#game {
  background: $background url(../../assets/images/background.svg) repeat;
}

.game-code-input {
  --input-font-family: "Source Code Pro", monospace;
}

.game-code {
  font-family: "Source Code Pro", monospace;
  .svg-inline--fa {
    margin-left: 0.3em;
  }
  white-space: nowrap;
  color: #ffffff;
  background-color: #000000;
  padding: 0.1em 0.5em;
}

h1 {
  font-family: "Helvetica Neue", "Nimbus Sans L", sans-serif;
  font-weight: 700;
  margin: 0.5em;
}

.link-button {
  background: none;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
}

a,
.link-button {
  display: inline;
  color: inherit;
  text-decoration: none;

  &:not(.tab) {
    background: linear-gradient(to top, $secondary 50%, $transparent 50%)
      no-repeat 0 10%;
    background-size: 100% 200%;
    transition: background-position 0.3s cubic-bezier(0.64, 0.9, 0.8, 1);
  }

  &:hover {
    background-position: 0 100%;
  }
}

// A button that allows the user to perform the main action in the game for them at this moment.
.action {
  --button-fab-size: 4rem;
  font-size: 1.5rem;

  // A style for actions that the game is waiting on - high contrast to grab attention.
  &.important {
    --button-bg: #{$secondary};
    --button-color: #{$on-secondary};
    --button-bg-hover: #{$secondary-light};
    --button-color-hover: #{$on-secondary-light};
    --button-bg-active: #{$secondary-dark};
    --button-color-acitve: #{$on-secondary-dark};
  }
}

.page {
  padding: 2em;
}

.term {
  white-space: nowrap;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;

  .icon-prefix {
    display: none;
  }

  .icon-suffix {
    display: none;
  }
}

.compressed-terms {
  .term {
    .full {
      display: none;
    }
    .icon-prefix {
      display: inline;
    }
    .icon-suffix {
      display: inline;
    }
  }
}

// TODO: Move to Elm asset loader when one works.
.forceLoad {
  background: url(../../assets/images/reread-icon.svg);
}

.empty-info {
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  opacity: 0.3;

  .svg-inline--fa {
    margin-right: 0.3em;
  }
}

.form-section {
  margin: 0.5em 0;

  display: flex;
  flex-direction: column;

  .multipart {
    display: flex;
    align-items: center;

    min-height: 2em;

    > * {
      margin: 0 0.5em 0 0.5em;
    }

    .primary {
      flex-grow: 1;
    }
  }

  .children {
    font-size: 0.9em;
    margin-left: 0.5em;

    &.inactive {
      opacity: 0.6;
    }
  }
}

.segment {
  display: inline-block;
}

@mixin message {
  font-size: 0.75em;
  padding: 0.25em;
  margin: 0.25em;
  display: flex;
  align-items: center;

  span {
    flex-grow: 1;
  }

  .message-type-icon {
    margin: 0.3em;
  }
}

.info {
  @include message;
}

.inline-error {
  @include message;
  color: $error;
  background-color: lighten($error, 55%);
  border-radius: 0.5em;
}

.warning {
  @include message;
  color: #6f6401;
}

.fixes {
  display: flex;
  padding: 0;
  margin: 0;
  flex-shrink: 1;

  li {
    display: inline-block;

    wl-button {
      margin: 0;
    }
  }
}

.remove-from-flow {
  position: absolute;
}

@import "./fonts";
@import "./cards";
@import "./error";
@import "./settings";
@import "./game";
@import "./pages/start";
@import "./pages/unknown-page";
@import "./pages/spectate";
@import "./pages/lobby";
@import "./weightless";

@import "@fortawesome/fontawesome-free/css/svg-with-js.min.css";
