@import "./colors";
@import "./cards";
@import "./fonts";

@function toHSL($color) {
  @return #{hue($color) / 1deg}, #{saturation($color)}, #{lightness($color)};
}

body {
  --primary-400: #{toHSL($primary-light)};
  --primary-500: #{toHSL($primary)};
  --primary-600: #{toHSL($primary-dark)};

  --secondary-400: #{toHSL($secondary-light)};
  --secondary-500: #{toHSL($secondary)};
  --secondary-600: #{toHSL($secondary-dark)};

  --font-family-serif: "Helvetica Neue", "Nimbus Sans L", sans-serif;
  --font-family-sans: "Roboto", sans-serif;
}

wl-card {
  padding: 1em;
}

wl-button {
  transform-origin: center center;
  margin: 0.5em;

  .svg-inline--fa {
    margin-right: 0.4em;
  }

  flex-shrink: 0;
}

wl-select {
  flex-shrink: 0;
}

wl-tab {
  --tab-padding: 1em;

  .svg-inline--fa {
    margin-right: 0.25em;
  }
}

wl-button[fab] {
  line-height: 1;

  &:focus,
  &::-moz-focus-inner {
    outline: none;
    border: 0;
  }

  .svg-inline--fa {
    margin-right: 0;
  }

  display: inline-flex;
  justify-content: center;

  transition: opacity 15ms linear 30ms,
    transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;

  &.exited {
    transition: opacity 15ms linear 0.15s,
      transform 0.18s cubic-bezier(0.4, 0, 1, 1) 0ms;

    transform: scale(0);
    opacity: 0;
  }

  &.large {
    --button-fab-size: 3em;
    font-size: 1.2em;
  }
}
